
<div class=" body d-flex justify-content-center bg-success p-2 text-dark bg-opacity-25">
<form action="/contacto" method="post" class="col-7 mt-5 d-flex flex-column" id="formularioContacto">
  {{#if arrayErrors}}
<div>
<span class="badge bg-danger opacity-75 col-12 fs-4">Corrija los érrores señalados (*) y envie nuevamente el formulario</span>
</div>
{{/if}}
  

  <div class="row">
  <div class="col-6">
  <div class="input-group mb-3">
  <img src="imagenes/iconos/nombre.png"  width="45" height="45">
  <input type="text" class="form-control col-6" placeholder="Nombre" aria-label="Nombre" id="nombreContacto" name="nombre" autofocus value="{{datosFormulario.nombre}}">
  <span class="badge input-group text-uppercase fs-6 text-danger">
  <ul>
  {{#filtro arrayErrors "nombre"}} 
  
    <li>{{this}}</li>
  </ul>
 
</span>  
{{/filtro}}
</div></div>

<div class="col-6">
<div class="input-group mb-3">
   <img src="imagenes/iconos/apellido.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Apellido" aria-label="apellido" id="apellidocontacto" name="apellido" value="{{datosFormulario.apellido}}">
<span class="badge input-group text-uppercase fs-6 text-danger">
{{#filtro arrayErrors "apellido"}}

 {{this}}
</span>
{{/filtro}}
</div>
  </div>
  </div>
  

  <div class="row">
  <div class="col-6">
<div class="input-group mb-3">
  <img src="imagenes/iconos/email.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Email" aria-label="email" id="emailcontacto" name="email" value="{{datosFormulario.email}}">
<span class="badge input-group text-uppercase fs-6 text-danger">
{{#filtro arrayErrors "email"}}
  {{this}}
</span>
{{/filtro}}
</div></div>

<div class="col-6">
<div class="input-group mb-3">
   <img src="imagenes/iconos/whatsapp.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Numero whatsapp" aria-label="whatsapp" id="whatsappContacto" name="whatsapp" value="{{datosFormulario.whatsapp}}">
<span class="badge input-group text-uppercase fs-6 text-danger">
{{#filtro arrayErrors "whatsapp"}}  {{this}} 
</span>
{{/filtro}}
</div>
  </div>
  </div>
  

  <div class="row">
  <div class="col-12">
<div class="input-group mb-3">
  <img src="imagenes/iconos/text.png"  width="45" height="45">
  <textarea class="form-control" aria-label="With textarea"style="height: 200px" name="mensaje" >{{datosFormulario.mensaje}}</textarea>
</div>
</div>
</div>
<div class="row">
  <div class="col-12 d-flex justify-content-center ">
    <span class="bg-warning col-10 h3 text-center"><strong>{{confirmacion}}</strong></span>
</div>
  </div>
  


<div class="row">
  <div class="col-4 d-flex justify-content-center">
        <button class="btn btn-success"  id="btnEnviar" type="submit">Enviar Consulta</button>
  </div>
  <div class="col-4 d-flex justify-content-center">
        <a class="btn btn-info" href="/" role="button">Regresar a Home</a>
      </div>

         <div class="col-4 d-flex justify-content-center">
        <a class="btn btn-danger" href="contacto" role="button">Cancelar</a>
      </div>
      <p>

</div>
</form>
  </div>

  {{>footer}}
 {{! <script>
    Swal.fire({
        title: '<strong>HTML <u>example</u></strong>',
        icon: 'info',
        html:
          'You can use <b>bold text</b>, ' +
          '<a href="//sweetalert2.github.io">links</a> ' +
          'and other HTML tags',
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
          '<i class="fa fa-thumbs-up">Confirmar</i> Great!',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
          '<i class="fa fa-thumbs-down">Cancelar</i>',
        cancelButtonAriaLabel: 'Thumbs down'
      })

  </script>!}}

  
 






