<form action="/modiDatosPersonales" method="post" >
      <div class="modal-body">
        <div class="row">
  <div class="col-6">
<div class="input-group mb-3">
  <img src="imagenes/iconos/nombre.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" name="nombreRegistro" autofocus value="{{user.nombreRegistro}}">
</div></div>
<div class="col-6">
<div class="input-group mb-3">
   <img src="imagenes/iconos/apellido.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Apellido" aria-label="Nombre" id="nombreRegistro" name="apellidoRegistro" value="{{user.apellidoRegistro}}">
</div>
  </div>
  </div>

<div class="row">
  <div class="col-9">
    <div class="input-group mb-3">
<img src="imagenes/iconos/calle.png"  width="45" height="45">
<input type="text" class="form-control col-form-label" placeholder="Direccion: Calle" aria-label="calle" name="calleRegistro" value="{{user.calleRegistro}}">
    </div></div>
    <div class="col-3">
      <div class="input-group mb-3">
        <img src="imagenes/iconos/numero.png"  width="45" height="45">
        <input type="text" class="form-control col-form-label" placeholder="Altura" aria-label="altura" name="alturaRegistro" value="{{user.alturaRegistro}}">
      </div>
    </div>
    </div>

<div class="row">
  <div class="col-5">
    <div class="input-group mb-5">
<img src="imagenes/iconos/location.png"  width="45" height="45">
<input type="text" class="form-control" placeholder="Ciudad" aria-label="Ciudad" name="ciudadRegistro" value="{{user.ciudadRegistro}}">
    </div></div>
    <div class="col-5">
      <div class="input-group mb-5">
        <img src="imagenes/iconos/pais.png"  width="45" height="45">
  <input type="text" class="form-control" placeholder="Estado" aria-label="Estado" name="estadoRegistro" value="{{user.estadoRegistro}}">
      </div>
    </div>
    <div class="col-2">
      <div class="input-group mb-5">
        <img src="imagenes/iconos/postal.png"  width="45" height="45">
     <input type="text" class="form-control" placeholder="CP" aria-label="Código postal" name="cpRegistro" value="{{user.cpRegistro}}">
      </div>
    </div>
    </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Enviar Modificacion </button>
       
        <a href="/eliminarCuenta" type="submit" class="btn btn-dark"> Elimar Cuenta</a>
        
        <a href="/bienvenida" type="submit" class="btn btn-danger" >Cancelar Cambios</a>
        
        
      </div>
      <p>Usuario creado: {{user.createdAt}}</p>
      <p>Ultima Modificacion de datos: {{user.updatedAt}}</p>
    </div>
  </div>
</div>
</form>
{{#if modi}}
<script>
 Swal.fire({
  icon: 'success',
  title: 'Cuenta Actualizada',
  text: 'Los cambios que generaste se realizaron con éxito',
  footer: '<a href="/">Ir a Home</a>'
})
</script>
{{/if}}